{% extends 'map/index.html.twig' %}

{% block title %}Liste des calques{% endblock %}

{% block global %}
<div>
    <ul class="list-group">
        <h4>Liste des calques existants</h4>
        <div class="listClq">
        {% for calque in calques %}
            <div class="divClqEntier">
                <div class="divClqNom">
                    <a href="{{ path('add_element', { 'idCalque':calque.id }) }}" class="am">
                        {{ calque.nom }}
                    </a>
                    <input id="{{ calque.nom }}" type="text" value="{{ calque.nom }}" disabled/>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                <div>
                    <a href="{{ path('edit_calque', { 'id':calque.id }) }}" class="am">
                        <span title="Modifier un élement" class="material-icons">edit</span>
                    </a>
                    <a href="{{ path('del_calque', { 'id':calque.id }) }}"  onclick="return confirm('Etes-vous sûr de vouloir supprimer ce calque ?')">
                        <span title="Supprimer un élement" class="material-icons">delete</span>
                    </a>
                </div>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </ul>
</div>
{#
<div>
    <h1>Créer un nouvel élément sur un calque existant :</h1>
    {{ render(controller('App\\Controller\\')) }}
    {{ form(choiceCalqueForm) }}

    <form action="{{ path('select_calque') }}" method="post">
        <select class="form-select" aria-label="Default select example">
            {% for calque in calques %}
                <option value="{{ calque.nom|lower }}">{{ calque.nom }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Sélectionner le calque</button>
    </form>
</div>
#}
{% endblock %}