{% extends 'map/index.html.twig' %}

{% block global %}
<div class="sub-nav">
{#    <div class="title">#}
{#        <h1 class="add-title">Ajout d'un élément de type "{{ nomTypeElt }}"</h1>#}
{#        <h2 class="add-subtitle">sur le calque "{{ nomCalque }}"</h2>#}
{#    </div>#}
    <h4>Modification de l'élément {{ idElement }}</h4>
    {{ form_start(form) }}

    <fieldset class="form-group">
    {{ form_label(form.coordonnees) }}
    {{ form_errors(form.coordonnees) }}
    {{ form_row(form.coordonnees.latitude , {'value' : latitude }) }}
    {{ form_row(form.coordonnees.longitude, {'value' : longitude }) }}
    </fieldset>
    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>

{# passage de données via Twig #}
<div class="calqueNom" calqueNom="{{ nomCalque }}"></div>
{% endblock %}