{% extends 'base.html.twig' %}
{% block body %}
    <div id="bLog">
        {% if not app.user %}
        <div>
            <h3>Affichage de la carte</h3>
        </div>
        {% else %}
        <div id="h3">
            <h3>Gestion de la carte</h3>
        </div>
        {% endif %}

        <div id="header-content">
        {% if not app.user %}
            <div id="Ah3UnLog">
                {{ render(controller('App\\Controller\\MapController::rechercheFormAction')) }}

                <!-- Button trigger modal -->
                <div id ="aUnlog">
                    <a id="log" class="btn btn-primary col" role="button" data-toggle="modal" data-target="#modalConnexion">Se connecter</a>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modalConnexion" tabindex="-1" role="dialog" aria-labelledby="modalConnexionLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalConnexionLabel">Connexion</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{ render(controller('App\\Controller\\SecurityController::login')) }}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}

            <div id="Ah3Log">
            {{ render(controller('App\\Controller\\MapController::rechercheFormAction')) }}
            </div>

            <div id ="aLog">
                <p>Vous êtes connecté en tant que : {{ app.user.nom }}</p>
                <a id="log" class="btn btn-primary col" href="{{ path('app_logout') }}" role="button">Se déconnecter</a>
            </div>
        {% endif %}
        </div>
    </div>

    <div class="container-fluid">
      
        <div class="row">

            {# Affichage de la carte #}
            <div id="mapid" class="col" ></div>

            {% if app.user %}
                <div id="form" class="mt-2">
                    {% for msg in app.session.flashBag.get('success') %}
                        <div class="alert alert-success" role="alert">{{ msg }}</div>
                    {% endfor %}
                    {% block global %}
                        <div class="title mb-5">
                            <h2 class="add-title">Gestion des calques, types d'éléments et éléments</h2>
                        </div>

                        <div class="container {# createCalqueAndType #}  mb-5">
                            <div class="row">
                                <div class="col">
                                    <button style="width:100%; height:100%;" class="create-btn btn btn-primary" onclick="location.href='{{ path('add_calque') }}'">
                                        <div class="material-icons material-icons-outlined">add</div>
                                        <div style="width:100%;">Créer un nouveau calque</div>
                                    </button>
                                </div>
                                <div class="col">
                                    <button class="create-btn btn btn-primary" onclick="location.href='{{ path('choice_calque', {'eltToCreate': 'typeElt'}) }}'">
                                        <div class="material-icons material-icons-outlined">add</div>
                                        <div style="width:100%;">Créer un nouveau type d'éléments</div>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button class="create-btn btn btn-primary" style="width:100%;" onclick="location.href='{{ path('list_icones') }}'">
                                        <div style="width:100%;">Lister les icones</div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <hr>
                        {{ render(controller('App\\Controller\\MapController::listAction')) }}
                    {% endblock %}

                    {%  if app.request.get('_route') != "map" %}
                            <button class="btn btn-primary" onclick="location.href='{{ path('map') }}'">retour</button>
                    {% endif %}
                </div>
        </div>
            {% endif %}
    </div>

    {{ render(controller('App\\Controller\\MapController::envoiDonneesJSAction')) }}
{% endblock %}
