{% extends 'map/index.html.twig' %}

{% block global %}
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success" role="alert">{{ msg }}</div>
    {% endfor %}
    <div class="title mb-5">
        <h2 class="add-title">Liste, ajout et suppression d'icones</h2>
    </div>
    <div class="container {# createCalqueAndType #}  mb-5">
        <div class="row">
            <div class="col">
                <button class="create-btn btn btn-primary" style="margin:auto;" onclick="location.href='{{ path('add_icone') }}'">
                    <div class="material-icons material-icons-outlined">add</div>
                    <div>ajouter une icone</div>
                </button>
            </div>
        </div>
    </div>
    <div class="tableWrap">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Icone</th>
                <th scope="col">Unicode</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th scope="col" style="width: 30%; border-left: 1px solid white">Supprimer</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
        {% for icone in icones %}
            <tr class="tdIconeAlign">
                <td><img style="width:65px; height:65px;" src="{{ asset("MarkersIcons/"~icone) }}"></td>
                <td><span>{{ icone.unicode }}</span></td>
                {% if is_granted('ROLE_ADMIN') %}
                <td style="border-left: 1px solid #dee2e6"><a href="{{ path('delete_icone', {'idIcone': icone.id}) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer cette icone?')"><span title="Supprimer cette icone" class="material-icons listElt-icon" style="border:none;">delete</span></a></td>
                {% endif %}
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}