{# Pour passer des variables de Twig à JS #}

<div class="defaultLatAndLong" defaultLatAndLong="{{ defaultLatAndLong|json_encode() }}"></div>
<div class="allEltsToShow" allEltsToShow="{{ allElements|json_encode() }}"></div>
<div class="calquesNomsList" calquesNomsList="{{ calquesNomsList|json_encode() }}"></div>
<div class="isConnected" isConnected="{{ isConnected }}"></div>
<div class="role" role="{{ role }}"></div>


